{% include 'authentication/base.html' %}
<center>
<h1> List of Semesters</h1><br>
<div class="form-control d-grid gap-2 col-6 mx-auto btn-group-vertical" role="group" aria-label="Vertical button group">
    <button type="button" class="btn btn-dark">I Sem</button><br>
    <button type="button" class="btn btn-dark">II Sem</button><br>
    <button type="button" class="btn btn-dark">III Sem</button><br>
    <button type="button" class="btn btn-dark">IV Sem</button><br>
    <button type="button" class="btn btn-dark">V Sem</button><br>
    <button type="button" class="btn btn-dark"><a href="{% url 'sem-6c' %}">VI Sem</button></a><br>
    <button type="button" class="btn btn-dark">VII Sem</button><br>
    <button type="button" class="btn btn-dark">VIII Sem</button><br>
</div>
</center>