{% include 'authentication/base.html' %}
<center>
    <h1> Name of subjects </h1><br><br>
    <div class="form-control col-5">
        <button type="button" class="form-control btn btn-dark btn-lg"><a href="{% url 'add-emf' %}">Enterpreneurship, Management and Finance </button></a>
        <br><br>
        <button type="button" class="form-control btn btn-dark btn-lg"><a href="{% url 'add-ws' %}">Web Services </button></a><br><br>
        <button type="button" class=" form-control btn btn-dark btn-lg"><a href="{% url 'add-ml' %}">Machine Learning </button></a><br><br>
        <button type="button" class="form-control btn btn-dark btn-lg"><a href="{% url 'add-cn' %}">Computer Networks </button></a><br><br>
        <button type="button" class="form-control btn btn-dark btn-lg"><a href="{% url 'add-iot' %}">Internet Of Things </button></a><br><br>
      
    </div>
</center>