{% include 'authentication/base.html' %}
    <h1> List of Faculties </h1>
    <br/>
    {% for faculty in faculty_list %}
    
    <div class="card form-control col-10"  >
        <div class="card-header">
            Username: {{faculty.Username }}
            
            </div>
        <div class="card-body" >
          <p class="card-text">
            <ul> 
                {% if faculty.header_image %}
                  <img src="{{ faculty.header_image.url }}" width="200" height="200"><br><br/>
                {% endif %}
                <li>First Name : {{ faculty.FirstName }}</li>
                <li>Last Name : {{ faculty.LastName }}</li>
                <li>Email : {{ faculty.Email}}</li>
          </p>
        </div>
      </div>
     



<br>
        
    {% endfor %}
    <!-- {% if fculty.header_image %}
      <img src="{{ faculty.header_image.url }}">
    {% endif %} -->
    
<a href="{% url 'home' %}"><button type="button" class="btn btn-secondary"> Home </button></a>
