{% include 'authentication/base.html' %}
<center>
<h1> Uploading the photos of CIE papers </h1>
{% if submitted3 %}
    Your submission was successfull..
{% else %}
    <div class="form-control col-10">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
           
            <input type="submit" value="submit" class="btn btn-success">
        </form>
    </div>
{% endif %}
<br>
<button value="btn btn-outline-secondary"><a href="{% url 'comment-dis-ml' %}">See if any comments..</a></button>


</center>